@import './global';
#feedback{
  $width: 822px;
$height:690px;
  .modal-container {
    width: $width;
    height: $height;
    min-height: fit-content;
  }
  .modal-header{
    padding: 20px 30px 0 0;
  }
  .modal-body{
    padding: 0 63px 37px 63px;
  }
  .feedback-title{
    input{
      color: $dark-grey-blue;
      font-size:20px;
      border: none;
      &::placeholder{
        color: $dark-grey-blue;
      }
    }
    padding-bottom: 6px;
    border-bottom: #f0f5ff 1px solid;
  }
  .feedback-rating{
    padding-bottom: 13px;
    h2{
      font-size: 14px;
      margin-top:20px;
      margin-bottom: 4px;
    }
    p{
      font-family: Gotham-BookItalic;
      font-size: 12px;
      color: $italic-text-grey;
      margin: 10px 0 0 0;
    }
    .vue-star-rating{
      float: left;
      margin-right: 20px;
    }
  }
  .person-info{
    align-items: center;
    padding: 16px 0;
    display: flex;

      img{
        margin-right: 10px;
        border-radius: 100%;
      }

    .description{
      h1{
        margin:0;
        font-size: 22px;
        font-family: Gotham-Book;
      }
      p{
        margin:0;
        font-family: Gotham-Book;
        color:$italic-text-grey;
        font-size: 12px;
      }
    }
  }
  .tabs{
    textarea{
      color:$dark-grey-blue;
      font-size: 12px;
      font-family: Gotham-Book;
      width: 100%;
      resize: none;
        border:none;
        height:207px;
    }

  }
  .files{
    padding:16px 22px;
    border-color: $light-blue-border;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 2px 2px;
    .attach-file{
      display: flex;
      align-items: center;
width: fit-content;
      img{
            height: 16px;
      }
      p{
        font-size: 12px;
        margin: 0;
    padding-right: 20px;
    padding-left: 2px;
    border-right: 1px solid $light-blue-border;
      }
    }
  }
  .footer{
    margin-top: 36px;
  }

}
.tabs{
  border-color:$light-blue-border;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px 2px 0 0 ;
  .tabs__list{
    display: flex;
    height: 56px;
    border-bottom: solid 1px $light-blue-border;
  }
  .tabs__tab{
    padding: 0 25px;
    display: flex;
    align-items: center;
    color: $tabs-grey;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;

  }
  .tabs__tab_active{
    color: $dark-grey-blue;
  }
.tabs__container{
  position: relative;
  overflow: hidden;
  will-change: height;
  transition: height .4s cubic-bezier(.86,0,.07,1);
}
.tabs__wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  will-change: transform;
  transition: transform .4s cubic-bezier(.86,0,.07,1);
}
.tabs__content{
  flex: 1 0 calc(100% - 50px);
  width: calc(100% - 50px);
  padding: 25px;
}
}
