@font-face {
   font-family: "Gotham-Book";
   src: url(../assets/fonts/Gotham/Gotham-Book.otf) format("opentype");
}
@font-face {
   font-family: "Gotham-Medium";
   src: url(../assets/fonts/Gotham/Gotham-Medium.otf) format("opentype");
}
@font-face {
   font-family: "Gotham-Bold";
   src: url(../assets/fonts/Gotham/Gotham-Bold.otf) format("opentype");
}
body {
  font-family: Gotham-Medium !important;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  &:disabled{
    cursor: default;
  }
}
$dark-grey-blue: #354053;
$light-blue: #e0e9fd;
$light-grey: #A9BAC6;
$grey: #f3f3f3;
$light-blue-border: #f0f5ff;
.border_bottom_light{
  border-bottom: 1px solid $light-blue-border;
}
.button{
  font-size: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 14px;
  font-family: Gotham-Bold;
}
.blue-button {
  background: $dark-grey-blue;
  color: white;
}
.grey-button{
  width: 70px;
  background: $grey;
  color: $dark-grey-blue;
}

.onOff {
  position: relative;
  clear: both;
  float: left;

  input {
    display: none;
  }

  span {
    font-size: 10px;
    float: left;
  }

  .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 60px 60px 10px;
  }

  label {
    margin-left: 20px;
    width: 20px;
    height: 12px;
    box-sizing: border-box;
    background: $light-grey;
    float: left;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
  }

  input[type=checkbox]:checked + label {
    background: $dark-grey-blue;
  }

  input[type=checkbox]:checked + label:before {
    left: 9px;
  }

  label:before {
    transition: 0.3s ease;
    content: '';
    width: 10px;
    height: 10px;
    box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.17);
      position: absolute;
    background: white;
    left: 1px;
    top: 1px;
    box-sizing: border-box;
    border-radius: 100px;
  }
}
.tooltip {
  padding: 12px 0 !important;
  width: calc(100% - 30px);
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  padding: 0px 20px;
  background: $dark-grey-blue;
  color: white;
  position: absolute;
  top:63px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

}
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: $dark-grey-blue transparent transparent transparent;
  position: absolute;
  left: calc(50% - 6px);
  top:-8px;
  transform: rotate(180deg);
}
