body{
   font-family: Gotham;
}

$dark-grey-blue: #354053;
$light-blue: #e0e9fd;

.blue-button{
  background: $dark-grey-blue;
  color: white;
  font-weight: bold;
  font-size: 7px;
  border-radius: 1px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 3px 7px;
}
