body{
   font-family: Gotham;
}

$dark-grey-blue: #354053;
$light-blue: #e0e9fd;
$light-grey: #A9BAC6;

.blue-button{
  background: $dark-grey-blue;
  color: white;
  font-weight: bold;
  font-size: 7px;
  border-radius: 1px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 3px 7px;
}
.onOff{

  position:relative;
  clear:both;
  margin:0 0 25px;
  float: left;
  input{
    display:none;
  }



span{
  font-size:7px;
  float:left;
}
.wrap{

  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding:30px 30px 5px;
}
label{
  width:10px;
  height:6px;
  box-sizing:border-box;
  background: $light-grey;
  float:left;
  border-radius:100px;
  position:relative;
  cursor:pointer;
  transition:.3s ease;
}
input[type=checkbox]:checked + label{
  background: $dark-grey-blue;
}
input[type=checkbox]:checked + label:before{
  left:5px;
}
label:before{
  transition:.3s ease;
  content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:white;
  left:0;
  top:0;
  box-sizing:border-box;
  border-radius:100px;
}
}
